.columns {
    column-count: 3;
    column-gap: 1.8rem;
    column-rule: 1px solid lightblue;
    padding: 0;
}

.columns li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 1.2rem;
    background-color: #e7f0f2;
    cursor: pointer;
    border-radius: 0.25rem;
}

.columns li:hover {
    background-color: #cce8ee;
}

.showDetail {
    column-span: all;
    display: block !important;
    border: 2px solid #343a40;
    background-color: #fff !important;
    cursor: initial !important;
    max-width: 1048px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 83%;
    transform: translate(-50%, -50%);
}

.showDetail button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -0.5rem;
    border-radius: 0.25rem 0 0.25rem 0.25rem;
    background-color: #cc4747e6;
    border-color: transparent;
}

.large, .showDetail p {
    font-size: large;
}

.showDetail span {
    font-weight: bold;
}

.showDetail img {
    float: right;
}

.detail-header {
    background-color: lightblue;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #3e6f80;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
}

.p-row {
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    padding-bottom: 1.2rem;
}

.cursor-pointer {
    cursor: pointer;
}

footer {
    padding: 0.8rem 0;
    background-color: #343a40;
}

@media only screen and (max-width: 768px) {
    body {padding-top: 14rem;}
    #searchInput {margin-left: 0 !important; margin-bottom: 0.5rem;} 
    .showDetail {margin-top: 50px;}    
}

@media only screen and (min-width: 768px) {
    #buttonDropdown {max-width: 100%;}
    #searchInput {max-width: 93%; margin-bottom: 0.5rem;}
    #dropdownLabel {margin-bottom: 1.4rem;}
    body {padding-top: 7.5rem;}
}

@media only screen and (min-width: 992px) {
    #buttonDropdown {max-width: 50%;}
    #searchInput {max-width: 70%;}
    body {padding-top: 5rem;}
    #dropdownLabel {margin-bottom: 0; padding: 0.4rem 0;}
    #regexLabel {padding: 0.4rem 0;}
}